name: CI

on:
  push:
    paths:
      - 'd4orm/**'
      - 'tests/**'
      - '.github/**'

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: astral-sh/setup-uv@v6
      - run: uv sync
      - run: uv run pytest -s
